*{
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif; 
}
header{
	display: flex;
    position: fixed;
    background-color: #193446;
    padding: 1%;
    width: 100%;
    height: 4%;
	background: linear-gradient(315deg, rgba(0, 0, 0, 0.918) 0%, #193446 74%);
}
.leftpg{
	align-items: center;
	justify-content: start;
    color: white;
	position: relative;
	display:block;
    font-size: 1.2rem;
    font-weight: 800;
}
.leftpg h3{
	margin-left: 1rem;
}
.leftpg span{
    color: rgb(166, 234, 255);
}
.wrapper {
    position: absolute;
	right: 5rem;
	top: 32%;
}
.wrapper .button {
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	margin: 0 5px;
	background: rgb(238, 238, 238);
	border-radius: 50px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.301);
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon{
	color: #fff;
}
.wrapper .button:nth-child(1):hover .icon {
	background: #161b22;
}
.wrapper .button .icon {
	display:inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
	transition: all 0.3s ease-out;
}
.wrapper .button .icon ion-icon {
	height: 38px;
	width: 25px;
	transition: all 0.3s ease-out;
}
.wrapper .button span {
	font-size: 15px;
	font-weight: 650;
	line-height: 40px;
	margin-left: 10px; 
}

.wrapper .button:hover {
	width: 145px;
}
span a{
    text-decoration: none;
    color:black;
}
.menulateral{
	position: fixed;
	width: 14%;
	height: 100%;
	margin-top: 3.98%;
	background: linear-gradient(180deg, #193446 0%, rgb(25, 104, 128) 20%);
}
.fotoperfil {
	
	width: 90%;
	padding-top: 12%;
	border-radius: 50%;
	padding-bottom: 10%;
}
.coluna h6 span{
	color: rgb(166, 234, 255);
	display: block;
	font-size: 90%;
}
.coluna h6{
	color: rgb(211, 147, 30);
	text-align: center;
	font-size: 82%;
	padding-bottom: 8%;
	
}
/* .coluna{
	background-color: chocolate;
} */
.coluna a{
	/* background-color: cornflowerblue; */
	color: white;
	text-decoration: none;
	display:block;
	line-height: 5rem;
	height: 5rem;
	padding-left: 11%;
	
}
.coluna a:hover{
	background: rgb(0, 189, 247);
	transition: all 0.6s ease-out;
}
.coluna ion-icon{
	padding-right: 0.9rem;
	
}
